<table>
  <tr>
    <td>
    <table class="table table-hover">
      <tr>
        <th>Name</th>
      </tr>
      <% @friends.each do |f| %>
      <tr>
        <td><%= f["name"] %></td>
      </tr>
      <%end %>
    </table>
    </td>
  <td>
  <table class="table table-hover">
  <tr>
    <th>Status</th>
    <th></th>
    <th>Mood</th>
  </tr>

  <% @statuses.each do |status| %>
      <tr>
        <td><%= status["text"] %></td>
        <td></td>
        <td><%= if status["sentiment"] == ":)"
            "Happy"
            else
            "Sad"
            end
        %></td>
      </tr>
  <% end %>
    </table>
  </td>
  </tr>
</table>

<br />
