<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @statuses.each do |friend| %>
      <tr>
        <td><%= friend %></td>
        <td></td>

      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Friend', new_friend_path %>
