<table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Mood</th>
      </tr>
      <% @friends.each do |f| %>
      <% if (f["status"]["sentiment"]==":)") %>
      <tr class= "success"><% else %>
       <tr class="error"   ><% end %>
        <td><%= f["name"] %></td>
        <td><%= f["status"]["text"] %></td>
        <td><%= f["status"]["sentiment"] %></td>
      </tr>
      <%end %>
</table>

