<table id="main" class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Mood</th>
      </tr>
</table>
<script>
  var ajax_friends = <%=raw @ajax_friends%>;
  for(i=0;i<=ajax_friends.length/100;i=i+1){

    var jsonobj = {};
    jsonobj["data"]=[];
    for(j=0;j<100 && (((i*100)+j) in ajax_friends);j=j+2){
      jsonobj["data"].push({"id": ajax_friends[i*100+j+1], "name": ajax_friends[i*100+j]});
    }
      console.log(jsonobj);
    $.ajax({
        url: "/load",
        type: 'POST',
        cache: false,
        data: jsonobj,
        success: function(html){
            $("#main").append(html);
        }
    });
  }
</script>
