<table id="main" class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Mood</th>
      </tr>
</table>
<script>
  var ajax_friends = <%=raw @ajax_friends%>;
  for(i=0;i<ajax_friends.length;i=i+2){
    $.ajax({
        url: "/load"+"/"+ajax_friends[i+1]+"/"+ajax_friends[i],
        cache: false,
        success: function(html){
            $("#main").append(html);
        }
    });
  }
</script>
