<div class="center hero-unit">

  <h1>Friend's Mood</h1>

  <h2>
    share happiness -> it increases!
    <br>
    share sorrow -> it decreases!
  </h2>

  <br>
  <br>

<%= link_to "Sign in", @url, class: "btn btn-large btn-primary" %>

</div>